/* style.css---------------
Par Alexandre TREMOUREUX-*/
:root {
    --bleu: #0065FC;
    --bleuClair: #DEEBFF;
    --gris: #F2F2F2;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
    border: none;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(20, 20, 20);
}
span {
    font-weight: bold;
}
body {
    font-family: 'Raleway', sans-serif;
    color: rgb(20, 20, 20);
    font-size: 1rem;
    width: 100%;
    max-width: 768px;
}
img {
    max-width: 100%;
    height: auto;
}
h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 30px 0px 20px;
}
article {
    margin: 10px 0px;
}
.sectionPopular, .mainFooter{
    background-color: var(--gris);
}

.margVertical {
    margin: 10px 0px;
}
.blue {
    color: var(--bleu);   
}
.grey {
    color: var(--gris);
}
.top, .search, .headerTitle, .popularContent, .footerContent, .sectionLodging, .sectionActivity{
    width: 90%;
    margin: auto;
    padding: 20px 0px;
}
/*-----Header------*/
.top {
    display: flex;
    justify-content: space-between;
}
.subscribe {
    font-weight: bold;
    background-color: white;
    border: none;
    cursor: pointer;
}
/*----Header---Category----*/
.category {
    display: flex;
    text-align: center;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}
.lodging , .activity {
    width: 50%;
}
.lodging a ,.activity a {
    display: block;
    border-bottom: solid var(--gris);
    padding-bottom: 10px;
}
.lodging a:hover, .activity a:hover {
    color: var(--bleu);
    border-bottom: solid var(--bleu);
}
/*----------Search-------------*/
.searchBar {
    display: flex;
    height: 50px;
    max-width: 100%;
}
.wrapperIconMap{
    display: flex;
    justify-content: center;
    background-color: var(--gris);
    border-radius: 20px 0px 0px 20px;
    height: 50px;
    min-width: 60px;
    font-size: 1.2em;
}
.iconMap{
   align-self: center;
}
.iSearch {
    height: 50px;
    max-width: 100%;
    width: 100%;
    border-top: solid var(--gris);
    border-bottom: solid var(--gris);
    border-left: none;
    border-right: none;
    padding-left: 15px;
    font-size: 1em;
    font-weight: bold;
}
.iSearch::placeholder{
    opacity: 90%;
}
.iSearch:focus{
    outline-offset: -1px;
    outline-color: var(--bleu);
    outline-style: ridge;
}
.wrapperIconSearch{
    position: relative;
    right: 15px;
    display: flex;
    justify-content: center;
    background-color: var(--bleu);
    color: white;
    height: 50px;
    min-width: 50px;
    font-size: 1.2rem;
    border-radius: 30%;   
    cursor: pointer;
}
.iconSearch {
    align-self: center;
}
.wrapperSearchText{
    visibility: hidden;
    position: absolute;
    right: 65px;
    display: flex;
    justify-content: center;
    background-color: var(--bleu);
    color: white;
    height: 50px;
    padding: 0px 20px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}
.searchText{
    align-self: center;
}
/*--------Filtres de recherche----------*/
.filter {
    display: flex;
    flex-wrap: wrap;
}
.buttonGroup {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    height: 55px;
    border: solid 2px rgb(217, 217, 217);
    border-radius: 25px;
    margin: 0px 15px 15px 0px;
    cursor: pointer;
}
.iconWrapperFilter {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: var(--bleuClair);
    border-radius: 50%;
    font-size: 1.4em;
    left: -5px;
}
.icon{
    align-self: center;
}
.titleFilter {
    padding-right: 15px;
    padding-left: 60px;
    font-size: 1.1em;
    font-weight: bold;
}
.buttonGroup:hover {
    background-color: var(--bleuClair);
    border: solid 2px var(--bleuClair);
    color: var(--bleu);
    transition: 0.4s;
}
.buttonGroup:hover .iconWrapperFilter, .buttonGroup:hover i{
    background-color: var(--bleu);
    color: var(--bleuClair);
    transition: 0.4s;
}
/*----------Resultats de recherche-------------*/
.result {
    display: flex;
}
.iconResult{
    display: flex;
    justify-content: center;
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid thin rgb(217, 217, 217);
}
.iconResult i{
    align-self: center;
}
.result p {
    padding-left: 15px;
    align-self: center;
}
/*---------Notation étoiles-------*/
.rating {
    font-size: 12px;
}
/*-------Section Popular-------*/
.titleSectionPopular {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.iconPopular{
    cursor: pointer;
    font-size: 1em;
    margin-left: 20px;
}
.articlePopular {
    max-width: 100%;
    min-height: 145px;
    max-height: 190px;
    border-radius: 22px;
    box-shadow: 0px 0px 8px 2px rgb(230, 230, 230);
    background-color: rgb(255, 255, 255);
}
.linkPopular {
    max-width: 100%;
    min-height: 145px;
    max-height: 155px;
    border-radius: 22px;
    display: flex;
    padding: 5px;
}
.linkPopular img {
    width: 40%;
    height: 145px;
    max-height: 150px;
    border-radius: 18px 0px 0px 18px;
    object-fit: cover;
    
}
.wrapperDescriptionPopular{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
}
.linkPopular h4 {
    
    font-size: 1em;
}
.linkPopular p {
    
    font-size: 1em;
}
.linkPopular div {
    
    font-size: 0.9em;
}
/*------Section Lodging--------*/
.articleLodging, .linkLodging, .linkLodging h4 {
    max-width: 100%;
}
.articleLodging {
    border-radius: 18px;
    background-color: white;
    box-shadow: 0px 4px 3px 2px var(--gris);
}
.linkLodging {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 210px;
    border-radius: 18px;
}
.linkLodging img {
    height: 115px;
    border-radius: 18px 18px 0px 0px;
    object-fit: cover;
}
.linkLodging h4, .linkLodging p{
    margin: 5px 10px 0px;
    font-size: 1em;
}
.linkLodging div{
    font-size: 0.9em;
    margin: 5px 10px;
}
.more {
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    padding: 20px 0px;
    width: max-content;
}
/*-------Section Activity-------*/
.articleActivity, .linkActivity, .linkActivity img {
    max-width: 100%;
}
.articleActivity {
    border-radius: 18px;
    background-color: white;
    box-shadow: 0px 4px 12px 4px var(--gris);
    margin: 20px 0px;
}
.linkActivity {
    height: 190px;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
}
.linkActivity img {
    height: 135px;
    border-radius: 18px 18px 0px 0px;
    object-fit: cover;
}
.linkActivity h4 {
    padding: 20px 20px 10px 20px;
    font-size: 1em;
}
/*----------Footer----------*/
.footerContent {
    display: flex;
    flex-direction: column;
}
.footerContent h4 {
    font-size: 1.2em;
    margin: 25px 0px;
}
/*---------media-queries-----------*/
@media (min-width: 768px) {
    body{
        max-width: 1024px;
    }
    .headerTitle, .search{
        text-align: center;
    }
    .searchBar{
        justify-content: center;
    }
    .iSearch{
        width: 50%;
    }
    .filter, .result{
        justify-content: center;
    }
    .mainContent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 100%;
        padding: 20px 0pxs;
        margin: auto;
    }
    .popularWrapper{
        width: 100%;
    }
    .sectionPopular{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20px;
        border-radius: 15px;
        margin-bottom: 30px;
    }
    .titleSectionPopular{
        display: block;
        width: 100%;
        margin: 10px 0px 0px;
    }
    .popularContent{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: 250px;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .articlePopular{
        width: 32%;
        height: max-content;
    }
    .sectionLodging{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: var(--gris);
        border-radius: 15px;
        padding: 20px;
        justify-content: center;
        text-align: center;
    }
    .sectionLodging h3{
        margin: 10px 0px 12px;
    }
    .articleWrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .articleLodging{
        width: 30%;
        margin: 5px;
        box-shadow: 0px 3px 12px 6px rgb(230, 230, 230);
    }
    .more{
        padding: 10px 0px 0px 10px;
    }
    .sectionActivity{
        width: 100%;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
    .activityWrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        height: 460px;
    }
    .articleActivity{
        width: 22.8%;
        max-height: 420px;
    }
    .linkActivity h4{
        padding-top: 10px;
    }
    .big{
        
        min-height: 420px;
    }
    .bigLink{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 420px;
    }
    .bigImage{
        min-height: 365px;
        width: 100%;
    }
    .footerContent{
        text-align: center;
    }
}
@media (min-width: 1024px) {
    body { 
        max-width: 1480px;
    }
    h3 {
        font-size: 1.2em;
        margin: 20px 0px 0px;
    }
    .category {
        width: 30%;
        position: absolute;
        top: 0px;
        right: 12%;
    }
    .lodging a ,.activity a {
        display: block;
        border-top: solid var(--gris);
        border-bottom: none;
        padding-top: 35px;
    }
    .lodging a:hover, .activity a:hover {
        color: var(--bleu);
        border-top: solid var(--bleu);
        border-bottom: none;
    }
    .headerTitle {
        text-align: left;
        padding-bottom: 0px;
    }
    .search {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .searchBar{
        justify-content: left;
        width: 50%;
    }
    .iSearch{
        width: 50%;
    }
    .wrapperIconSearch{
        visibility: hidden;
    }
    .wrapperSearchText{
        visibility: visible;
        position: relative;
    }
    .filterContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
        max-width: 100%;
        max-width: 100%;
    }
    .filterMainTitle {
        margin-right: 40px;
    }
    
    .mainContent {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        padding: 20px 0px;
        margin: auto;
    }
    .popularWrapper {
        width: 30%;
        height: min-content;
    }
    .titleSectionPopular {
        display: flex;
        height: min-content;
    }
    .sectionPopular {
        padding: 20px;
        border-radius: 15px;
    }
    .popularContent {
        flex-direction: column;
        width: 100%;
        height: 580px;
        margin: 0px;
        padding: 0px;
        text-align: left;
    }
    .articlePopular {
        width: 100%;
    }
    .sectionLodging {
        max-width: 68%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        justify-content: left;
        height: 620px;
        background-color: var(--gris);
        border-radius: 15px;
        padding: 20px;
        margin: 0px 10px 0px 0px;
    }
    .sectionLodging h3 , .more{
        width: 50%;
    }
    .articleWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .articleLodging {
        margin-bottom: 20px;
    }
    .more {
        padding: 10px 0px 0px 10px;
    }
    .sectionActivity h3{
        text-align: left;
    }
    .footerContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 40px;
        padding-right: 20%;
        text-align: left
    }
}

@media (min-width: 1480px) {
    body{
        max-width: 100%;
    }
}