/* style.css---------------
Par Alexandre TREMOUREUX-*/
@font-face {
    font-family: 'raleway';
    src: url('/raleway/');
}
:root {
    --bleu: #0065FC;
    --bleuClair: #DEEBFF;
    --gris: #F2F2F2;
}
* {
    font-family: 'raleway';
}
ul{
    list-style-type: none;
}
.top{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.inscription{
    border: none;
    background-color: white;
    font-weight: bold;
    color: var(--bleu);
}
.category{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 0px;
}
.category li a{
    
}
.hebergements{
    width: 50%;
    border-bottom: solid var(--bleu);
    text-align: center;
    padding-bottom: 10px;
}
.hebergements a{
    color: var(--bleu);
    text-decoration: none;
}
.activites{
    width: 50%;
    border-bottom: solid var(--gris);
    text-align: center;
    padding-bottom: 10px;
}
.activites a{
    color:grey;
    text-decoration: none;
}
.headerTitle{
    padding-left: 20px;
}
.search{
    padding-left: 20px;
}
input{
    padding-left: 20px;
    font-weight: bold;
    border: none;
}
.iconMap{
    background-color: var(--gris);
    color: black;
    width: 20px;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    text-align: center;
}
.iconSearch{
    background-color: var(--bleu);
    color: white;
    width: 20px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
.filter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    padding-left: 0px;
}
button{
    
    border-style: solid;
    background-color: white;
    padding-left: 0px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}
button:hover{
    color: var(--bleu);
    background-color: var(--bleuClair);
}

.icon{
    background-color: var(--bleuClair);
    color: var(--bleu);
    width: 20px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
}
.iconResult{
    border: solid 1px var(--gris);
    color: var(--bleu);
    border-radius: 20px;
    width: 15px;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
}
.titleFilter{
    font-weight: bold;
    margin: auto;
    padding-right: 10px;

}
.result{
    display: flex;
    align-items: center;  
}
