/* style.css---------------
Par Alexandre TREMOUREUX-*/
@font-face {
    font-family: 'raleway';
    src: url('/raleway/');
}
:root {
    --bleu: #0065FC;
    --bleuClair: #DEEBFF;
    --gris: #F2F2F2;
}
* {
    font-family: 'raleway';
}